body {
    background-color: #1f2833;
    background-image: url("../backgrounds/bg_bggenerator_com.png");
    /* background-size: 100% 100%; */
    background-position: center;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    margin: 0%;
}


.header {
    color: #66FCF1;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

#bookSearchHeading {
    color: #66FCF1;
    position: fixed;
    top: 10%;
    width: 100%;
    height: 10%;
    left: 0;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchAndResultDiv {
    position: fixed;
    top: 22%;
    color: #66FCF1;
    width: 39%;
    left: 10%;
    height: 60%;
    font-size: 40px;
    /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px; */


}

#searchFields {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

}

#thisTheBookPrompt {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#thisTheBookPrompt ul {
    margin: 0;
    padding: 0;
}


#rightSideResult {
    position: fixed;
    top: 20%;
    color: #66FCF1;
    width: 39%;
    left: 51%;
    /* background-color: white; */
    height: 60%;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    row-gap: 20px;
    overflow-y: scroll;

}

/* #rightSideResult{
    padding-top: 15px;
} */

/* #thisTheBookList{

} */

#searchResultImage {
    height: 300px;

}

.searchInput {
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-left: 10px;
    margin: 0;
    height: 20px;
    background-color: #c5c6c75f;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    color: #66FCF1;
    width: 350px;
    height: 100%;
    font-size: 40px;
    border-radius: 15px;
    display: inline-block;
}

#submitBookSearch {
    background-color: #c5c6c75f;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    color: #66FCF1;
    font-size: 40px;
    width: 50%;
    height: 100%;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.05s all linear;
}

#submitBookSearch:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px white;
    /* Lowering the shadow */
}

.searchLabel {
    margin-top: 15px;

    display: inline-block;
    width: 270px;
}

.authorSearchResultDiv {
    font-size: 25px;
}

.yesNoTitleSearch {
    background-color: #c5c6c75f;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    color: #66FCF1;
    font-size: 40px;
    width: 100px;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.05s all linear;
}

.yesNoTitleSearch:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px white;
    /* Lowering the shadow */
}

#yesNoDiv {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.bookListUL {
    width: 50%;
    ;
    border: solid white 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Add a smooth transition effect */

}

.bookListUL:hover {
    background-color: #c5c6c77c;
    /* Change the background color on hover */
}


.singleBookInResultList {
    /* display: flex;
    flex-direction: column; */

    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* text-align: center; */



}

#inputSearchResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}