body {
    background-color: #1f2833;
    background-image: url("../backgrounds/bg_bggenerator_com.png");
    /* background-size: 100% 100%; */
    background-position: center;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    margin: 0%;
}


.header {
    color: #66FCF1;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

#bookSearchHeading {
    color: #66FCF1;
    position: fixed;
    top: 10%;
    width: 100%;
    height: 10%;
    left: 0;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#headerMenu{
    position: fixed;


    color: #66FCF1;
    width: 48%;
    left: 50%;
    height: 10%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

}

.headerButton {
    background-color: #c5c6c75f;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;

    color: #66FCF1;
    font-size: 20px;


    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 60px;
    transition: 0.05s all linear;
}

.headerButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px white;
    /* Lowering the shadow */
}

#librariesSearchDiv{
    position: fixed;
    top: 22%;;
    height: 5%;
    width: 40%;
    left: 30%;
    background-color: #c5c6c75f;
}

#libraryList{
    position: fixed;
    top: 27%;;
    height: 60%;
    overflow: scroll;
    width: 40%;
    left: 30%;

    list-style-type: none;
    padding: 0;
    margin: 0;
    
}


.libraryListElement{
    transition: 0.05s all linear;
    cursor: pointer;

    background-color: #c5c6c75f;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: #66FCF1;
    font-size: 30px;
    border-radius: 5px;
}

.libraryListElement:active{
    transition: 0.05s all linear;
    transform: scale(0.98);
        cursor: pointer; /* Set the cursor to a pointer */
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px white;
    
}

#createLibrarySection{
    position: fixed;
    top: 22%;
    right: 5%;

    height: 65%;
    overflow: scroll;
    width: 20%;

    background-color: #c5c6c75f;
}